<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Создание проекта</title>
</head>
<body>
<h3>Создание проекта</h3>
<th:block th:if="${users}">
    <form th:method="get">
        <label>Специализация разработчика: <input type="text" name="filter" th:value="${filter}"/></label>
        <input type="submit" value="Найти">
    </form><br>
</th:block>
<form th:method="post" th:action="@{/projects/save}" th:object="${project}">
    <label>Заголовок проекта: <input type="text" th:field="*{title}"/></label><br>
    <label>Стоимость проекта: <input type="number" name="price" th:value="${price}"/></label><br>
    <input type="submit" value="Изменить">
    <th:block th:if="${selectedUsers.size()} > 0">
        <h3 th:text="'Список выбранных программистов ' + ${selectedUsers.size()} + ' из ' + ${project.getCountProgrammers()}"></h3>
        <th:block th:each="user : ${selectedUsers}">
            <div th:text="'Имя: ' + ${user.getUsername()}"></div>
            <a th:href="@{/projects/user/{id}/delete(id=${user.getId()})}">Удалить</a><br><br>
        </th:block>
    </th:block><br>
    <th:block th:if="${users.size()} > 0">
        <h3>Список свободных программистов</h3>
        <th:block th:each="user : ${users}">
            <div th:text="'Имя: ' + ${user.getUsername()}"></div>
            <a th:href="@{/projects/user/{id}/select(id=${user.getId()})}">Выбрать</a><br><br>
        </th:block>
    </th:block><br>
</form>
</body>
</html>